.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)), url("../../assets/landscape.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.containerCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}

.btnReload {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    margin: .2rem;
    margin-top: 1rem;
    padding: .3rem;
    cursor: pointer;
    transition: .3s;
    height: 2.1rem;
    width: 10rem;
}
  
.btnReload:hover {
    color: white;
    background-color: black;
    transition: .5s;
 
}





  @media (max-width: 400px) {

  .containerCards{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  }

  
/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .containerCards {
      grid-template-columns: repeat(1, minmax(10rem, 13rem));
      gap: 4rem;
    }
  }
  
  /* Estilos para pantallas de hasta 900px de ancho */
  @media (max-width: 900px) {
    .containerCards {
      grid-template-columns: repeat(2, minmax(10rem, 13rem));
      gap: 8rem;
    }
  }

  