.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)), url("../../assets/landscape.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

.containerCards{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

/* .tagActivities{
  color: black;
  font-size: 1.3rem;
 
  backdrop-filter: blur(100px);
} */



/* @keyframes grow {
    0% {
      transform: scale(1) translateY(0px);
    }
    30% {
      transform: scale(1.2) translateY(-100px);
    }
  }
  
   */
  @media (max-width: 400px) {

  .containerCards{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  }



/* Estilos para pantallas de hasta 600px de ancho */
/* @media (max-width: 400px) {
    .container {
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)), url("../../assets/landscape.jpg");
        background-repeat:repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        
    }
    .containerCards {
      grid-template-columns: repeat(1, minmax(10rem, 13rem));
      gap: 2rem;
    }
  }
 */


  
/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .containerCards {
      grid-template-columns: repeat(1, minmax(10rem, 13rem));
      gap: 4rem;
    }
  }
  
  /* Estilos para pantallas de hasta 900px de ancho */
  @media (max-width: 900px) {
    .containerCards {
      grid-template-columns: repeat(2, minmax(10rem, 13rem));
      gap: 8rem;
    }
  }

  