.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)), url("../../assets/landscape.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.containerCards{
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 13rem));
    gap:12rem;
  
}

.btnReload {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    margin: .2rem;
    margin-top: 1rem;
    padding: .3rem;
    cursor: pointer;
    transition: .3s;
    height: 2.1rem;
    width: 10rem;
}
  
.btnReload:hover {
    color: white;
    background-color: black;
    transition: .5s;
 
}