.cardContainer{
    width: 220px;
    height: 240px;
    padding: .5rem;
    border: .1rem solid #ffffff;
    border-radius: 12px;
    margin: .8rem;

    backdrop-filter: blur(100px);
    color: darkgrey;
    background: linear-gradient(
        to top,
        right rgb(198, 196, 196) 0%,
        rgba(255, 251, 251, 0.12) 20%
      );
}

.cardContainer:hover{
    border: .2rem solid rgb(247, 244, 237);
    transform: scale(1.05);
    transition: 1s;
}

.name{
    color: black;
    font-size: 1.2rem; 
 
}
.continente{
    color: black;
    font-size: .9rem;
    margin-top: -.6rem;
    
}
.img{
    width: 180px;
    height: 110px;
}

.link{
    text-decoration: none;
  }