.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)), url("../../assets/activity.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    font-weight: bolder;
}

.contenedor{
    padding: 2rem;
    border-radius: 12px;
    margin: .8rem;
    backdrop-filter: blur(50px);
    color: black;
    background: linear-gradient(
        to top,
        right rgb(198, 196, 196) 0%,
        rgba(255, 251, 251, 0.12) 20%
      );
}

.btn {
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-color: rgba(109, 108, 108, 0.5);
    font-weight: 800;
    font-size: 1em;
    padding: 1rem;
    box-sizing: border-box;
    height: 2.5rem;
    margin: 12px;
  
    backdrop-filter: blur(1px);
}

.btn:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: translateY(-1px);
    border-bottom: 1px solid white;
  }
  
.link{
    text-decoration: none;
    color: white
}





.btnCreate {
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: .5rem;
    margin: .2rem;
    margin-top: 1rem;
    padding: .3rem;
    cursor: pointer;
    transition: .3s;
    height: 2.3rem;
    width: 6rem;
}
  
.btnCreate:hover {
    color: black;
    background-color: white;
 
}