.container {
  width: 100%;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
  position: absolute;
  width: 45%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  margin-top: 0rem;

}

.btn {
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-content: center;
  background-color: rgba(109, 108, 108, 0.5);
  font-weight: 400;
  font-size: 1.5em;
  padding: 1rem;
  box-sizing: border-box;
  height: 50px;
  margin: 12px;
  margin-top: .5rem;
  border: .1rem solid white;
  border-radius: .4rem;

  backdrop-filter: blur(1px);
}
.btn:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-2px);
}

.link{
  text-decoration: none;
}